.wrapper {
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error {
    font-size: var(--text-sm);
    color: var(--color-delete);
    margin: var(--space-2) 0 0;
}
